<div class="my-4">
<form method="GET" action="/search">
  <div class="form-group mb-2">
    <label for="email" class="mb-2">Nhập thông tin</label>
    <input name="q" type="text" class="form-control" placeholder="Tìm kiếm..." id="email">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>